# Python files
__pycache__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm and JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# LibreOffice locks
.~lock.*#



# C++ builds
SWI/**/build/*
!build/build.xml


# every  apk and exe file (or other big files)
*.apk
*.exe
*.dll
*.so
*.dylib
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.7z
*.dmg
*.iso

# my files
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 2/vector_test_zadani-main/cmake-build-debug/_deps/ioutils-src/
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 2/vector_test_zadani-main/cmake-build-debug/_deps/mymalloc-src/
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 3/DTMF_generator-master/cmake-build-debug/_deps/ioutils-src/
SWI/4. semester/Algoritmy a datové struktury/Cvika/Ukol 3/DTMF_generator-master/cmake-build-debug/_deps/mymalloc-src/
SWI/5. semester/Programovani mobilnich aplikaci/cviko/
SWI/5. semester/Embedded systémy s mikropočítači/cvika/projekt/
SWI/5. semester/Vývoj síťových aplikací/cviko/
/SWI/5. semester/Embedded systémy s mikropočítači/cvika/zdroje
/SWI/5. semester/Vývoj síťových aplikací/cviko
SWI/5. semester/Vývoj síťových aplikací/cviko/telnet-client

SWI/5. semester/Programovani mobilnich aplikaci
SWI/5. semester/Analogová a číslicová technika/skuska/vsetkyPrednaskyVJednej.pdf
SWI/5. semester/Embedded systémy s mikropočítači/cvika/misici-jednotka-projekt
