body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 2.5em;
}

.content {
  display: flex;
  justify-content: space-between;
}

.sections {
  width: 70%;
  padding: 10px;
}

.profile-image {
  width: 100%;
  max-width: 280px;
  object-fit: cover;
  border-radius: 5%;
  margin: 0 auto;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(5deg) rotateY(5deg) rotateZ(5deg) scale(1.05);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.profile-image:hover {
    animation: rotate 0.5s ease-in-out infinite alternate;
}

.profile-image:active {
    animation: spin 2s ease-in-out infinite alternate;
}

h1 {
  color: #ffffff;
}

h1:hover {
  color: #cccccc;
}

h2 {
  color: #333333;
}

h2:hover {
  color: #7d7676;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
}

@media screen and (max-width: 590px) {
  .content {
    flex-direction: column;
  }

  .sections {
    width: 100%;
  }
}
