* {
  margin: 0;
  padding: 0;
  background: #e1e1e1;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

header {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
  background: #818181;
  width: 100vw;
}

main {
  margin-left: 50px;
  margin-right: 50px;
}

.text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text p {
  width: 50%;
}


footer {
    padding: 100px 0;
    text-align: center;
    margin-top: 20px;
    background: #818181;
    width: 100vw;
}
